{% extends './BaseTemp/base.html' %}
{% load static %}


{% block content %}

{{context}}

<section id="content">

			<!-- Section -->
			<section class="section full-width-bg">

				<div class="row">

					<div class="col-lg-12 col-md-12 col-sm-12">

						<!-- <div class="col-lg-12 col-md-12 col-sm-12">
							<span class="Apple-tab-span"></span>
							<img src="img/1920x490_slide1.png" width="100%" height="450" alt="">
						</div> -->
						<!-- Revolution Slider -->
						<div class="tp-banner-container main-revolution" style="overflow: visible;">

							<span class="Apple-tab-span"></span>

							<div class="tp-banner revslider-initialised tp-simpleresponsive" id="revslider-358" style="height: 487px;">

								<ul style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: none;">
									<li data-transition="fade" data-slotamount="7" style="width: 100%; height: 100%; overflow: hidden; opacity: 1; visibility: visible; left: 0px; top: 0px; z-index: 18;">
										<div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="undefined" data-kenburns="undefined" data-easeme="undefined" data-bgfit="undefined" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" data-lazydone="undefined" data-src="slide1.png" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;{% static './Dependacies/slide1.png' %}&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; position: relative; opacity: 0;"></div></div>
									</li>

									<li data-transition="fade" data-slotamount="7" style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; z-index: 20; opacity: 1;">
										<div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="undefined" data-kenburns="undefined" data-easeme="undefined" data-bgfit="undefined" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" data-lazydone="undefined" data-src="slide1.png" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;{% static './Dependacies/slide1.png' %}&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; position: relative; opacity: 1;"></div></div>&gt;
									</li>
								</ul>

							<div class="tp-loader" style="display: none;"></div><div class="tp-bannertimer" style="visibility: hidden; overflow: hidden; width: 79.6382%;"></div></div>

						<div style="position: absolute; margin-top: -23px; left: 20px; top: 243px;" class="tp-leftarrow tparrows default hidearrows"></div><div style="position: absolute; margin-top: -23px; right: 20px; top: 243px;" class="tp-rightarrow tparrows default hidearrows"></div></div>
						<!-- /Revolution Slider -->

					</div>


					<div class="col-lg-12 col-md-12 col-sm-12">

						<div class="banners-inline">

							<div class="banner-wrapper">
								<a class="banner" href="#"><i class="icons icon-check icons-fadeout"></i>
									<i class="icons icon-check"></i>
									<h4>FFCRA</h4>
									<!-- <p>Families First Coronavirus Response Act</p> -->
								</a>
							</div>

							<div class="banner-wrapper">
								<a class="banner" href="#"><i class="icons icon-check icons-fadeout"></i>
									<i class="icons icon-check"></i>
									<h4>CARES</h4>
									<!-- <p>Coronavirus Aid, Relief, and Economic Security</p> -->
								</a>
							</div>

							<div class="banner-wrapper">
								<a class="banner" href="#"><i class="icons icon-check icons-fadeout"></i>
									<i class="icons icon-check"></i>
									<h4>PUA</h4>
									<!-- <p>Pandem Unemployment Assistance</p> -->
								</a>
							</div>

							<div class="banner-wrapper">
								<a class="banner" href="#"><i class="icons icon-check icons-fadeout"></i>
									<i class="icons icon-check"></i>
									<h4>PEUC</h4>
									<!-- <p>Pandemic Emergency Unemployme Compensation</p> -->
								</a>
							</div>
						</div>

					</div>

				</div>

			</section>
			<!-- /Section -->

			<!-- Section -->
			<section class="section full-width-bg gray-bg">

				<div class="row">
					<!-- col-lg-9 col-md-9 col-sm-8 -->
					<div class="col-sm-8a">

						<h3 class="no-margin-top">Unemployment Insurance Relief During COVID-19 Outbreak</h3>
						<a href="applynow.php" class="button donate big">Apply Now</a>

						<div>
							<p>On March 18, 2020, President Trump signed into law the Families First Coronavirus Response Act (FFCRA), which provided additional flexibility for state unemployment insurance agencies and additional administrative funding to respond to the COVID-19 pandemic. The Coronavirus Aid, Relief, and Economic Security (CARES) Act was signed into law on March 27. It expands states’ ability to provide unemployment insurance for many workers impacted by the COVID-19 pandemic, including for workers who are not ordinarily eligible for unemployment benefits.</p>
							<p>Federal Benefit Programs Extended The federal COVID-19 relief package which extends federal CARES A unemployment benefit programs was signed into law. Pandem Unemployment Assistance (PUA) and Pandemic Emergency Unemployme Compensation (PEUC) will be extended through September 4, 202 Pandemic Unemployment Compensation, The American Rescue Plan Act  2021 provides $1,400 per week Economic Impact Payments for people a has also been extended through Sept. 4.</p>
						</div>
						<br>
						<h3 class="no-margin-top" id="faq">Frequently Asked Questions</h3>
						<h4>Am I Eligible for Regular Unemployment Compensation?</h4>
						<p>Each state sets its own unemployment insurance benefits eligibility guidelines, but you usually qualify if you:</p>
						<ul>
							<li>Are unemployed through no fault of your own. In most states, this means you have to have separated from your last job due to a lack of available work.</li>
							<li>Meet work and wage requirements. You must meet your state’s requirements for wages earned or time worked during an established period of time referred to as a "base period." (In most states, this is usually the first four out of the last five completed calendar quarters before the time that your claim is filed.)</li>
						</ul>
						<h4>I am an independent contractor. Am I eligible for unemployment benefits under the CARES Act?</h4>
						<p>You may be eligible for unemployment benefits, depending on your personal circumstances and how your state chooses to implement the CARES Act. States are permitted to provide Pandemic Unemployment Assistance (PUA) to individuals who are self-employed, seeking part-time employment, or who otherwise would not qualify for regular unemployment compensation. To qualify for PUA benefits, you must not be eligible for regular unemployment benefits and be unemployed, partially unemployed, or unable or unavailable to work because of certain health or economic consequences of the COVID-19 pandemic.</p>
						<p>The PUA program provides up to 39 weeks of benefits, which are available retroactively starting with weeks of unemployment beginning on or after January 27, 2020, and ending on or before December 31, 2020. The amount of benefits paid out will vary by state and are calculated based on the weekly benefit amounts (WBA) provided under a state’s unemployment insurance laws. Under the CARES Act, the WBA may be supplemented by the additional unemployment assistance provided under the Act.</p>
						<br>
						<h4 class="no-margin-top">Are self-employed, independent contractor and gig workers eligible for assistance?</h4>
						<p>Self-employed workers, independent contractors, gig economy workers, and people who have not worked long enough to qualify for the other types of unemployment assistance may still qualify for PUA if they are otherwise able to work and available for work within the meaning of the applicable state law and certify that they are unemployed, partially unemployed or unable or unavailable to work for one of the following COVID-19 reasons:</p>
						<ul>
							<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">You have been diagnosed with COVID-19, or have symptoms, and are seeking a medical diagnosis.</span></span></span></span></li>
							<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">A member of your household has been diagnosed with COVID-19.</span></span></span></span></li>
							<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">You are caring for a family member of a member of your household who has been diagnosed with COVID-19.</span></span></span></span></li>
							<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">A child or other person in your household for whom you have primary caregiving responsibility is unable to attend school or another facility that is closed as a direct result of COVID-19 and the school or facility care is required for you to work.</span></span></span></span></li>
							<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">You cannot reach your job because of a quarantine imposed as a direct result of the COVID-19 public health emergency.</span></span></span></span></li>
							<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">You cannot reach your job because you have been advised by a healthcare provider to self-quarantine due to concerns related to COVID-19.</span></span></span></span></li>
							<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">You were scheduled to start a new job and do not have a job or are unable to reach the job as a direct result of the COVID-19 public health emergency.</span></span></span></span></li>
							<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">You’ve become the main source of income for a household because the head of the household has died as a direct result of COVID-19.</span></span></span></span></li>
							<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">You had to quit your job as a direct result of COVID-19.</span></span></span></span></li>
							<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">Your workplace is closed as a direct result of COVID-19.</span></span></span></span></li>
							<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:Times New Roman,serif">You are self-employed, have reportable income and have experienced a significant diminution of services because of the COVID-19 public health emergency.</span></span></span></span></li>
						</ul>
					</div>



					<!-- Sidebar -->

					<!-- /Sidebar -->

				</div>


			</section>
			<!-- /Section -->

</section>
{% endblock %}